name: Tests
on:
  push:
    branches: ["master","dev"]
  pull_request:
    branches: ["master","dev"]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}    

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]
    permissions:
      contents: read
      packages: write    

    steps:
      - uses: actions/checkout@v1
      - name: Cache node modules
        uses: actions/cache@v1
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Node ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: npm ci and npm run build
        working-directory: ./angular
        run: |
          npm ci
          npm run build
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to the Container registry
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Build and push Docker image
        uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Send mail
        uses: dawidd6/action-send-mail@v3
        with:
          # Required mail server address if not connection_url:
          server_address: smtp.gmail.com
          # Server port, default 25:
          server_port: 587
          # Optional (recommended): mail server username:
          username: your_login
          # Optional (recommended) mail server password:
          password: your_passwd
          # Required mail subject:
          subject: ${{ github.job }} job of ${{ github.repository }} has ${{ job.status }}
          # Required recipients' addresses:
          to: r.v.lazovskiy@gmail.com
          # Required sender full name (address can be skipped):
          from: Roman Lazovskiy # <user@example.com>
          # Optional plain body:
          body: ${{ github.job }} job in worflow ${{ github.workflow }} of ${{ github.repository }} has ${{ job.status }} with this id ${{github.run_id}} 

      # - name: Measure total run time
      #   run:
      #     curl -H "Accept: application/vnd.github.v3+json" https://api.github.com/repos/RomanLazovskiy/Test_task/actions/runs/${{github.run_id}}/timing
  
  duration:
    needs: build
    runs-on: ubuntu-latest
    steps:
        - name: Get api
          uses: wei/curl@master
          with:
            args: https://api.github.com/repos/RomanLazovskiy/Test_task/actions/runs/${{github.run_id}}/jobs
              
